img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
}
body {
    font-family: sans-serif;
    font-size: 29px;
    text-align: center;
}

.navigation123 {
    float: right;
}
